<div class="container">
    <div id="content" class="row"></div>
    <div class="row my-5">
        <div class="col-md-6">
            <h2>Agregar Producto</h2>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Título</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="thumbnails">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Precio</label>
                <input type="text" class="form-control" id="price">
            </div>
            <input type="button" class="btn btn-primary" id="btnAgregarProducto" value="Agregar (+)">
        </div>
        <div class="col-md-6">
            <h2>Eliminar Producto</h2>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">#Id del Producto</label>
                <input type="text" class="form-control" id="idProduct">
            </div>
            <input type="button" class="btn btn-primary" id="btnEliminarProducto" value="Eliminar (-)">
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/main.realTimeProducts.js"></script>