<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Registrate!</h1>
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="first_name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="last_name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Edad</label>
                    <input type="text" class="form-control" id="age">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="button" class="btn btn-primary" id="btnRegister">Registrar</button>
            </form>
        </div>
    </div>
</div>

<script src="js/register.js"></script>